:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.input {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fileInput {
  border-style: dotted;
  height: 20vh;
  align-content: center;
}

#output {
  display: flex;
  place-items: center;
}

#output > .col {
  max-width: 640px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  /* max-height: 80vh; */
  /* overflow-y: scroll; */
}

.table-wrapper {
  max-height: 80vh;
  overflow-y: scroll;
}

.details-wrapper {
  max-height: 80vh;
  overflow-y: scroll;
}

#hex-table table,th,td {
  border:1px solid
}

details > details {
    margin-left: 1rem;
}


*[data-highlight="1"] {
  background-color: #ffdbdb;
}

*[data-highlight="2"] {
  background-color: #ffb0b0;
}

*[data-highlight="3"] {
  background-color: #fe9a9a;
}

*[data-highlight="4"] {
  background-color: #2bff003a;
}

*[data-highlight="5"] {
  background-color: #00ff733a;
}

*[data-highlight="6"] {
  background-color: #00e5ff3a;
}

*[data-highlight="7"] {
  background-color: #0033ff3a;
}

*[data-highlight="8"] {
  background-color: #3c00ff3a;
}

*[data-highlight="9"] {
  background-color: #9000ff3a;
}

*[data-highlight="10"] {
  background-color: #ff00f23a;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

thead th {
  position: sticky;
  top: 0;
  background: #8fff94;
  z-index: 3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
